<div class="absolute w-full max-w-md left-0 right-0 m-auto top-1/2 translate-y-[-50%] bg-gradient-to-r from-gray-600 to-gray-900 border border-gray-500 rounded-xl shadow-2xl shadow-gray-800">
  <div class="p-4 sm:p-7">
    <div class="text-center">
      <h1 class="block text-2xl font-bold text-gray-300">
        <i class="fa-solid fa-earth-africa"></i>
        WebAuth
      </h1>
      <p class="mt-2 text-sm text-gray-400">
        Already Registered?
        <a class="text-gray-300 decoration-2 hover:underline font-medium" href="/login">
          Sign in here
        </a>
      </p>
    </div>

    <div class="mt-5">
      <div class="my-3 text-center">
        <% flash.each do |type, msg| %>
          <%= content_tag :div, msg, class: build_alert_classes(type) %>
        <% end %>
      </div>

      <!-- Form -->
      <form action="/users" method="post">
        <div class="grid gap-y-4">
          <div class="grid grid-cols-2 gap-4">
            <div>
              <!-- Form Group -->
              <div class="mb-3">
                <div class="relative">
                  <input name="user[first_name]" placeholder="First Name" autofocus="autofocus" autocomplete="off" class="py-3 px-4 block w-full outline-none rounded-md text-sm text-white bg-gradient-to-r from-gray-500 to-gray-900 placeholder:text-white" type="text">
                </div>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div class="mb-3">
                <div class="relative">
                  <input name="user[last_name]" placeholder="Last Name" autofocus="autofocus" autocomplete="off" class="py-3 px-4 block w-full outline-none rounded-md text-sm text-white bg-gradient-to-r from-gray-500 to-gray-900 placeholder:text-white" type="text">
                </div>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div class="mb-3">
                <div class="relative">
                  <input name="user[username]" placeholder="Username" autofocus="autofocus" autocomplete="off" class="py-3 px-4 block w-full outline-none rounded-md text-sm text-white bg-gradient-to-r from-gray-500 to-gray-900 placeholder:text-white" type="text">
                </div>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div>
                <div class="relative">
                  <input name="user[email]" placeholder="Email" autofocus="autofocus" autocomplete="off" class="py-3 px-4 block w-full outline-none rounded-md text-sm text-white bg-gradient-to-r from-gray-500 to-gray-900 placeholder:text-white" type="email">
                </div>
              </div>
              <!-- End Form Group -->
            </div>

            <div>
              <!-- Form Group -->
              <div class="mb-3">
                <div class="relative">
                  <input name="user[phone_number]" placeholder="Phone Number" autofocus="autofocus" autocomplete="off" class="py-3 px-4 block w-full outline-none rounded-md text-sm text-white bg-gradient-to-r from-gray-500 to-gray-900 placeholder:text-white" type="text">
                </div>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div class="mb-3">
                <div class="relative">
                  <input name="user[password]" placeholder="Password" autocomplete="off" id="session_password" class="py-3 px-4 block w-full outline-none rounded-md text-sm text-white bg-gradient-to-r from-gray-500 to-gray-900 placeholder:text-white" type="password">
                </div>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div>
                <div class="relative">
                  <input name="user[password_confirmation]" placeholder="Confirm Password" autocomplete="off" id="session_password" class="py-3 px-4 block w-full outline-none rounded-md text-sm text-white bg-gradient-to-r from-gray-500 to-gray-900 placeholder:text-white" type="password">
                </div>
              </div>
              <!-- End Form Group -->
            </div>
          </div>

          <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md font-semibold bg-gradient-to-r from-gray-900 to-gray-600 border border-gray-500 text-gray-300 shadow-lg shadow-gray-700 hover:shadow-none hover:text-white hover:border-transparent mb-5">Register!</button>
        </div>
      </form>
      <!-- End Form -->
    </div>
  </div>
</div>
