<!-- Sidebar -->
<div id="application-sidebar" class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform hidden fixed top-0 left-0 bottom-0 z-[60] w-64 bg-gradient-to-b from-indigo-800/[.6] via-slate-800 pt-7 pb-10 overflow-y-auto scrollbar-y">
  <nav class="hs-accordion-group p-6 w-full flex flex-col flex-wrap mt-16" data-hs-accordion-always-open>
    <ul class="space-y-1.5">
      <li>
        <a class="flex items-center gap-x-3.5 py-2 px-2.5 bg-gradient-to-r from-[#2E5EEB]/[.4] to-[#070c35] text-sm text-white rounded-md hover:bg-gray-500" href="/">
          <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg>
          Home
        </a>
      </li>

      <li class="hs-accordion" id="users-accordion">
        <a class="hs-accordion-toggle flex items-center gap-x-3.5 py-2 px-2.5 hs-accordion-active:text-gray-100 hs-accordion-active:hover:bg-transparent text-sm text-gray-300 rounded-md hover:bg-gradient-to-r from-[#2E5EEB]/[.2] to-[#971dac]/[.3]" href="javascript:;">
          <i class="fa-solid fa-list-check"></i>
          Our Services
          <svg class="hs-accordion-active:block ml-auto hidden w-3 h-3 text-gray-300 group-hover:text-gray-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <svg class="hs-accordion-active:hidden ml-auto block w-3 h-3 text-gray-300 group-hover:text-gray-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
          </svg>
        </a>

        <div id="users-accordion-child" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 hidden">
          <ul class="hs-accordion-group pl-3 pt-2" data-hs-accordion-always-open>
            <li class="hs-accordion" id="users-accordion-sub-1">
              <a class="hs-accordion-toggle flex items-center gap-x-3.5 py-2 px-2.5 hs-accordion-active:text-gray-100 hs-accordion-active:hover:bg-transparent text-sm text-gray-300 rounded-md hover:bg-gradient-to-r from-[#2E5EEB]/[.2] to-[#971dac]/[.3]" href="javascript:;">
                Service 1
                <svg class="hs-accordion-active:block ml-auto hidden w-3 h-3 text-gray-300 group-hover:text-gray-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
                </svg>
                <svg class="hs-accordion-active:hidden ml-auto block w-3 h-3 text-gray-300 group-hover:text-gray-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
                </svg>
              </a>

              <div id="users-accordion-sub-1-child" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 hidden">
                <ul class="pt-2 pl-2">
                  <li>
                    <a class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-300 rounded-md hover:bg-gradient-to-r from-[#2E5EEB]/[.2] to-[#971dac]/[.3]" href="/#services">
                      Sub Service 1
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>

      <li>
        <a class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-300 rounded-md hover:bg-gradient-to-r from-[#2E5EEB]/[.2] to-[#971dac]/[.3]" href="/#abouts">
          <i class="fa-solid fa-circle-question"></i>
        About Us
        </a>
      </li>

      <li class="hs-accordion" id="projects-accordion">
        <a class="hs-accordion-toggle flex items-center gap-x-3.5 py-2 px-2.5 hs-accordion-active:text-gary-100 hs-accordion-active:hover:bg-transparent text-sm text-gray-300 rounded-md hover:bg-gradient-to-r from-[#2E5EEB]/[.2] to-[#971dac]/[.3]" href="javascript:;">
          <i class="fa-solid fa-square-phone"></i>
          Contact Us
          <svg class="hs-accordion-active:block ml-auto hidden w-3 h-3 text-gray-300 group-hover:text-gray-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <svg class="hs-accordion-active:hidden ml-auto block w-3 h-3 text-gray-300 group-hover:text-gray-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
          </svg>
        </a>

        <div id="projects-accordion-child" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 hidden">
          <ul class="pt-2 pl-2">
            <li>
              <a class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-300 rounded-md hover:bg-gradient-to-r from-[#2E5EEB]/[.2] to-[#971dac]/[.3]" href="/#contacts">
                Contact Form
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li>
        <a class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-300 rounded-md hover:bg-gradient-to-r from-[#2E5EEB]/[.2] to-[#971dac]/[.3]" href="javascript:;">
          <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
          </svg>
        Calendar
        </a>
      </li>
    </ul>
  </nav>
</div>
<!-- End Sidebar -->
